footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 20px;
  height: 100px;
  width: 100%;
  z-index: 1;
  margin: 0;
  @media (min-width: 1050px) {
    height: 120px;
  }
  svg {
    margin: 0 15px;
  	height: 100%;
    @media (max-width: 550px) {
  		height: 80%;
      margin: 0;
    }
    @media (max-width: 400px) {
  		height: 70%;
      margin: 0;
    }
  }
}
