<div id="sizing-overlay" class="hide">
  <div id="sizing-close">
    <span></span>
    <span></span>
  </div>
  <div id="sizing-table" class="container">
    <table>
      <h3 class="center">Petite Womens</h3>
      <tr>
        <th></th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>2XL</th>
      </tr>
      <tr>
        <td style="border: none;"><b>Size</b></td>
        <td>0</td>
        <td>2</td>
        <td>4-6</td>
        <td>8-10</td>
        <td>12-14</td>
        <td>16-18</td>
      </tr>
      <tr>
        <td style="border: none;"><b>Chest</b></td>
        <td>28"-30"</td>
        <td>30-32</td>
        <td>32-34</td>
        <td>36-38</td>
        <td>40-42</td>
        <td>44-46</td>
      </tr>
      <tr>
        <td style="border: none;"><b>Waist</b></td>
        <td>23"-24"</td>
        <td>25-26</td>
        <td>27-28</td>
        <td>30-32</td>
        <td>33-35</td>
        <td>36-38</td>
      </tr>
    </table>
    <table>
      <h3 class="center q">Standard Unisex</h3>
      <tr>
        <th></th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>2XL</th>
      </tr>
      <tr>
        <td style="border: none;"><b>Chest</b></td>
        <td>30"-32"</td>
        <td>34-36</td>
        <td>38-40</td>
        <td>42-44</td>
        <td>46-48</td>
        <td>48-50</td>
      </tr>
      <tr>
        <td style="border: none;"><b>Waist</b></td>
        <td>28"-30"</td>
        <td>30-32</td>
        <td>32-33</td>
        <td>33-34</td>
        <td>36-38</td>
        <td>40-42</td>
      </tr>
    </table>
  </div>
</div>
