// Styling for Home Page Logo

.flexcontainer {
  align-items: center;
  display: flex;
  height: 85vh;
  margin: 0 auto;
  width: 80%;
  @media (min-width: 1050px) {
  	height: 90vh;
    width: 40%;
  }
}

.flexcontainer > div {
  flex: 1 0 auto;
  max-width: 100%;
}
