* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: $base-font-size;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.desktop-title {
	@media (max-width: 1050px) {
    display: none;
  }
}