h1,h2,h3,h4,h5,h6 {
  color: $primary-font-color;
	font-family: $secondary-font-family;
	font-weight: bold;
}

p, li, th, td, label {
  color: $primary-font-color;
  font-family: $secondary-font-family;
  font-weight: bold;
  line-height: 1.4;
}

a {
  color: $primary-font-color;
  font-family: $secondary-font-family;
  font-weight: bold;
}
